language: php

sudo: false

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0

matrix:
    fast_finish: true
    allow_failures:
        - php: 7.0

before_script:
    - phpenv config-rm xdebug.ini || true
    - composer install --prefer-source

script:
    - bin/phpspec run
