language: php

sudo: false

cache:
    directories:
        - $HOME/.composer/cache

branches:
    only:
        - master

php:
    - 7.1
    - 7.2
    - 7.3
    - 7.4snapshot

matrix:
    fast_finish: true

before_install:
    - phpenv config-rm xdebug.ini || true

install:
    - composer install --optimize-autoloader --no-interaction

script:
    - make tests
    - make rusty
